<% if signed_in? %>
  <% content_for :content do %>
    <h4 id="homehead">Help Feeds</h4>
    <%= render 'shared/feed' %>
     <% if signed_in? %>
     <!--  <div id="sidebar-static">
        <div id="sidebar-main">
          <%= render 'layouts/sidebar' %>
        </div> 
        <div id="sidebar-ctrl"> </div> 
      </div> -->
    <% end %>
  <% end %>
  <% content_for :firstsidebar do %>
    <%= render 'layouts/sidebar' %>
  <% end %>
  <% content_for :secondsidebar do %>
    <%= render 'static_pages/secondsidebar' %>
  <% end %>
  <% content_for :thirdsidebar do %>
    <%= render 'static_pages/thirdsidebar' %>
  <% end %>
  <% content_for :bumpingsidebar do %>  
    <%= render 'layouts/fixed_sidebar' %>
  <% end %>
  
  <%#login page if unsigned_in%>
<% else %>
  <% content_for :content do %>
    <div class="center hero-unit">
      <h1>Welcome to the NUS HELP!</h1>
      <h2>
        This is the home page for the
        <a href="/signin">NUS HELP!</a>
      </h2>
      <%= link_to "Sign up now!", "https://ivle.nus.edu.sg/api/login/?apikey=#{NusHelp::Application::API_KEY}&url=http://#{@hostname}/signin", class: "btn btn-large btn-primary" %>
    </div>
  <% end %>
  <% content_for :firstsidebar do %>
  <div class="rightsidebar" id="thirdsidebar">
    <%= render 'thirdsidebar' %>
  </div>
    <% #image_tag 'ycz.jpg' %>
  <% end %>
<% end %>
