<% if @comments.any? %>
  <%= link_to "Comments( #{@comments.count} )", '#' %>
  <ol class="comments" >
    <% @comments.each do |comment| %>
      <li>
        <%= render "users/user_photo", {user:User.find_by(:id=>comment.user_id),size:30,need_div:false} %>
        <%= comment.content %>
        <span class="timestamp">
          <%= time_ago_in_words(comment.created_at) %>
          ago
        </span>
        <% if current_user.id == comment.user_id %>
          <span class="comment_delete">
            <%= link_to "delete", [micropost,comment] , method: :delete,
                                     title: comment.content %>
          </span>
        <% end %>
      </li>
    <% end %>
  </ol>
  <%= will_paginate @comments %>
  </br>
  
<% end %>
