<% provide(:title, 'Search') %>
<% content_for :content do %>
<h1 id="search_top">Search Result</h1>
<div class="text-align: center" >
  <%= form_tag ('/search'), :method => :get, :class=> "form-search form-inline" do %>
    <%= text_field_tag :search ,params[:search], :class=>"input-xxlarge search-query" %>
    <%= button_tag :name=>nil, :type => "submit", :class => "btn" do%>
      <i class="icon-search"></i>
    <% end %>
  <% end %>
</div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <div  class="well sidebar-nav sidebar-nav-fixed">
        <ul class="nav nav-list ">
          <li class="nav-header">Searching Results</li>
          <li> <a href="#search_top">All</a> </li>
          <li><a href="?user">Users</a></li>
          <li><a href="?module">Modules</a></li>
          <li><a href="?midropost">Microposts</a></li>
        </ul>
      </div><!--/.well -->
    </div><!--/span-->
    <div class="span9">
      <div class= "hero-unit">
        <% unless @users.empty? %>
          <h4 id="Users">Related Users</h4>
          <ul>
            <% @users.each do |f|%>
              <li><%= link_to f.name, f%>
              </li>
            <% end %>
          </ul>
        <% end %>
        <% unless @modules.empty? %>
          <h4 id="Modules">Related Modules</h4>
          <ul>
            <% @modules.each do |f|%>
              <li><%= link_to f.code+': '+f.name, f%>
              </li>
            <% end %>
          </ul>
        <% end %>
        <% unless @microposts.empty? %>
          <h4 id="Microposts">Related Microposts</h4>
          <ul>
            <% @microposts.each do |f|%>
              <li><%= link_to f.title, f%>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div><!--/span-->
  </div><!--/row-->
</div><!--/.fluid-container-->
<% end %>
