<% provide(:title, 'Search') %>
<% content_for :content do %>
<h1 id="search_top">Search Result</h1>
  <%= render "search/form" %>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <div  class="well sidebar-nav sidebar-nav-fixed">
        <ul class="nav nav-list ">
          <li class="nav-header">Searching Results</li>
          <% if @users and !@users.empty? %><li><a href="#Users">Users(<%= @usersc %>)</a></li> <% end %>
          <% if @modules and !@modules.empty? %><li><a href="#Modules">Modules(<%= @modulesc %>)</a></li> <% end %>
          <% if @microposts and !@microposts.empty? %> <li><a href="#Microposts">Help Requests(<%= @micropostsc %>)</a></li> <% end %>
        </ul>
      </div><!--/.well -->
    </div><!--/span-->
    <div class="span9">
      <div class= "hero-unit">
        <% if @users and !@users.empty? %>
          <h4 id="Users">Related Users(<%= @usersc %>)</h4>
          <ul>
            <% @users.each do |f|%>
              <li><%= link_to f.name, f%>
              </li>
            <% end %>
          </ul>
            <%= render "search/has_more",{count:@usersc,term:"user"}%>
        <% end %>
        <% if @modules and !@modules.empty? %>
          <h4 id="Modules">Related Modules (<%= @modulesc %>)</h4>
          <ul>
            <% @modules.each do |f|%>
              <li><%= link_to f.code+': '+f.name, f%></li>
            <% end %>
          </ul>
            <%= render "search/has_more",{count:@modulesc,term:"module"}%>
        <% end %>
        <% if @microposts and !@microposts.empty? %>
          <h4 id="Microposts">Related Help Requests(<%= @micropostsc %>)</h4>
          <ul>
            <% @microposts.each do |f|%>
              <li><%= link_to f.title, f%></li>
            <% end %>
          </ul>
          <%= render "search/has_more",{count:@micropostsc,term:"post"}%>
        <% end %>
      </div>
    </div><!--/span-->
  </div><!--/row-->
</div><!--/.fluid-container-->
<% end %>
