<div class="helpFeeds">
  <% @moduleFeeds.each do |f| %>
    <oi>
      <div class="help">
        <div class="helpcontent">
          <%= render "users/user_photo",{user:f.user,need_div: true, size:50} %>
          <div class="user-post">
            <div class="record" id="comment-record">
              <div class='countNumber'>
                <%= link_to f.comments.count,f,{:style=>'color:white'} %>
              </div>
              <strong id="comment-strong">Comments</strong>
            </div>
            <div class="record">
              <div class='countNumber'>
                <%= link_to f.help_recs.count,f,{:style=>'color:#870a0a'} %>
              </div>
              <strong id="helper-strong">Helpers</strong>
            </div>
            <div class="record">
              <div class='countNumber'>
                <%= link_to f.click_count,f,{:style=>'color:#dadbd8'} %>
              </div>
              <strong id="click-strong">Clicks</strong>
            </div>
            <td>
              <span class='itemTitle'>
                <%= link_to f.title, f %>
              </span>
              <div class='sep8'></div>
              <span class='smallNode gray'>
                <% @module = NusModule.find_by(id: f.module_id) %>
                <%= link_to @module.code,@module, {:style => 'background-color:#CCC'} %>
                <%= " | " %>
                <%= link_to f.user.name, f, {:style => 'color:gray'} %>
                <%= " | " %>
                <% case f.status %>
                <% when 0 %>
                <% @status="Ongoing" %>
                <% when 1 %>
                <% @status="Helper Choosed" %>
                <% when 2 %>
                <% @status="Gift Given"%>
              <% else %>
                <% @status="Status Error"%>
              <% end %>
              <%= link_to @status, f, {:style => 'color: gray'} %>
              <%= " | " %>
              <span class='mytimestamp'>
                <%= time_ago_in_words(f.created_at) +" ago"%>
              </span>
            </span>
          </td>
        </div>
      </div>
    </div>
    </oi>
  <% end %>
  <%= will_paginate @moduleFeeds %>
</div>
