<% @moduleFeeds= current_user.mod_feed %>
<div class="moduleFeeds">
  <% @moduleFeeds.each do |f| %>
    <% @module = NusModule.find_by(id: f.module_id) %>
    <div class="module">
       <%if f.user.photo? %>
           <%= image_tag f.user.photo, :size =>"40x40", :crop => :fill%>
       <% else %>
          <% if f.user.gender==0 %>
          <%= image_tag "man_small.jpeg", :size=>"40X40", :crop =>:fill%>
          <% else %>
          <%= image_tag "women_small.jpeg", :size=>"40X40", :crop =>:fit%>
          <% end %>           
       <%end %>
      <div class='countNumber'>
        <%= link_to f.comments.count,f,{:style=>'color:white'} %>
      </div>
      <td>
        <span class='itemTitle'>
          <%= link_to f.title, f%>
        </span>
        <div class='sep8'></div>
        <span class='small gray'>
          <%= link_to @module.code, @module, {:style => 'background-color:#CCC'} %>
          <%= " | " %>
          <%= link_to f.user.name, f, {:style => 'color:gray'} %>
          <%= " | " %>
          <span class='mytimestamp'>
            <%= time_ago_in_words(f.created_at) +" ago"%>
          </span>
        </span>
      </td>
    </div>
  <% end %>
</div>
