<div class="row-fluid">
  <div class="span9 offset1">
	<%= form_for @user, :html => { :id => "create_user_form" } do |f| %>
		<%= render 'shared/error_messages', object: f.object %>
		  <%= f.hidden_field :account, :value=>@user.account %>
		  <%= f.hidden_field :remember_token, :value=>@user.remember_token %>
		  <%= f.label :name %>
		  <%= f.text_field :name, :value=>@user.name %>
		  <%= f.label :email %>
		  <%= f.text_field :email, :value=>@user.email%>
		  <%= f.label :gender %>
		  <div class="field">
			  <%= f.radio_button :gender, 0 %> Male
			  <%= f.radio_button :gender, 1 %> Female
		  </div>
		</br>
      <div id="signup_submit">
		  <%= f.submit "Create my account", id:"btn_create_user" ,class: "btn btn-default btn-primary" %>
	 </div>
	<% end %>
  </div>
</div> 
