<div class="row">
	<%= form_for @user, :html => { :id => "asdf" } do |f| %>
		<%= render 'shared/error_messages', object: f.object %>
		<div class="span3">
			  <p>
			  	<%= f.label :photo %>
			    <%= f.file_field :photo %>
			  </p>
		</div>
		<div class="span6"> 
		  <%= f.hidden_field :account, :value=>@user.account %>
		  <%= f.hidden_field :remember_token, :value=>@user.remember_token %>
		  <%= f.label :name %>
		  <%= f.text_field :name, :value=>@user.name %>
		  <%= f.label :email %>
		  <%= f.text_field :email, :value=>@user.email%>
		  <%= f.label :gender %>
		  <div class="field">
			  <%= f.radio_button :gender, 0 %> Male
			  <%= f.radio_button :gender, 1 %> Female
		  </div>
		  <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
		</div>
	<% end %>
</div>