<div class="span6" id="span6_user">
  <div id="user_table">
    <div class="clearfix">
      <%= render 'users/user_photo',{user:user,size:105,need_div:false}%>
      <div id="user_info">
        <div id="user_name"><%= link_to user.name, user %> 
        <div id="user_indexfollow">
         <%= render 'follow_form' , :user => user if signed_in? %>
        </div>
      </div>
        <div class="user_stats">
          <span>
            <strong id="user_help" class="stat">
            <%= user.microposts.length %> </strong>
            helps
          </span>
          <span>
            <div class="user_stats">
              <strong id="follower" class="stat">
              <%= user.followers.length %> </strong>
              follower
            </div>
          </span>
          <span>
            <div class="user_stats">
              <strong id="following" class="stat">
              <%= user.followed_users.length %> </strong>
              following
            </div>
          </span>    
          <% if current_user.admin? && !current_user?(user) %> 
              | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
          <% end %>
        </div>         
        </div>
      </div> 
    </div>
  </div>
