<div class="span2 well user-cell">
  <div>
    <% if user.photo.to_s == "/uploads/user/photo/#{user.id}/0".to_s %>
      <% if user.gender == 0 %>
        <%= image_tag "man.jpeg" , :size => "150x150", :crop => :fill%>
      <% else %>
        <%= image_tag "women.jpeg" , :size => "150x150", :crop => :fill%>
      <% end %> 
    <% else %>
      <%= image_tag user.photo, :size => "150x150", :crop => :fill%>
    <% end %>
  </div>
  <div class="user-info">
    <%= link_to user.name, user %> 
    <div> Help Posted: <%= user.microposts.length %> </div>
    <div> Follers: <%= user.followers.length %> </div>
    <div> Following: <%= user.followed_users.length %> </div>
    
    <% if current_user.admin? && !current_user?(user) %> 
        | <%= link_to "delete", user, method: :delete,
                                    data: { confirm: "You sure?" } %>
    <% end %>
  </div>
</div>
