<% provide(:title, "Edit user") %>
<% content_for :content do %>
  <h1>Update your profile</h1>
  <div class="row">
    <div class="span6 offset3">
      <div>
        <span class="name-field">Name: </span>
        <span class="value-field"><%= @user.name %></span>
      </div>
      <div>
        <span class="name-field">Email: </span>
        <span class="value-field"><%= @user.email %></span>
      </div>
      <div>
        <span class="name-field">Gender: </span>
        <span class="value-field"><%= @user.gender_text %></span>
      </div>
      <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <div id="cropbox-section" user_id = <%= @user.id %>
          <% if @user.user_img.nil? or @user.user_img.origin.nil? %>
            style="display:none;"
          <% else %>
            src="<%= @user.user_img.origin_name %>" data="<%= @user.user_img.crop_data_str %>"
          <% end %> >

          <% for attr in [:cx, :cy, :cw, :ch] %>
            <%= hidden_field_tag ("[user_img]" + attr.to_s) %>
          <% end %>
          <div id="cropbox-div"></div>
          <h4>Preview</h4>
          <div style="width: 180px; height: 180px; overflow: hidden;">
            <img id="preview"> </img>
          </div>
        </div>

        <div>
          <span class="name-field">My Picture:</span>
        <%= file_field_tag "image_file_ajax_uploader" %>
        </div>
        <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
      <% end %>
    </div>
  </div>
<% end %>
