<% provide(:title, 'All users') %>
<% content_for :content do %>
  <h1>
    Users
  </h1>
  <div>
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#tab1" data-toggle="tab">Followed Users</a>
      </li>
      <li>
        <a href="#tab2" data-toggle="tab">My Follower</a>
      </li>
      <li>
        <a href="#tab3" data-toggle="tab">Random Users</a>
      </li>
    </ul>
  </div>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <% @followed_users.each do |u| %>
        <%= render 'user', :user => u %>
      <% end %>
      <%= will_paginate @followed_users %>
    </div>
    <div class="tab-pane" id="tab2">
      <% @users_followers.each do |u| %>
        <%= render 'user', :user => u %>
      <% end %>
      <%= will_paginate @users_followers %>
    </div>
    <div class="tab-pane" id="tab3">
      <% @random_users.each do |u| %>
        <%= render 'user', :user => u %>
      <% end %>
    </div>
  </div>
  
<% end %>
<% content_for :firstsidebar do %>
  <%= render 'layouts/sidebar' %>
<% end %>
<% content_for :secondsidebar do %>
  <%= render 'popularusers' %>
<% end %>


