<% provide(:title, @title) %>
<div class="row">
  <aside class="span4">
    <section>
      <% if @user.photo.to_s == "/uploads/user/photo/#{@user.id}/0".to_s %>
        <% if @user.gender == 0 %>
          <%= image_tag "man.jpeg" , :size => "150x150", :crop => :fill%>
        <% else %>
          <%= image_tag "women.jpeg" , :size => "150x150", :crop => :fill%>
        <% end %> 
      <% else %>
        <%= image_tag @user.photo, :size => "150x150", :crop => :fill%>
      <% end %>
      <h1><%= @user.name %></h1>
      <span><%= link_to "view my profile", @user %></span>
      <span><b>Microposts:</b>
        <%= @user.microposts.count %></span>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="span8">
    <h3><%= @title %></h3>
    <% if @users.any? %>
      <ul class="users">
        <%= render @users %>
      </ul>
      <%= will_paginate %>
    <% end %>
  </div>
</div>
