<li id="<%= feed_item.id %>">
  <span class="timestamp">
    <%= time_ago_in_words(feed_item.created_at) %>
    ago.
  </span>

  <% if !feed_item.is_anonymous %>
    <span class="content">
       <%if feed_item.user.photo? %>
           <%= image_tag feed_item.user.photo, :size =>"40x40", :crop => :fill%>
       <% else %>
          <% if feed_item.user.gender==0 %>
          <%= image_tag "man_small.jpeg", :size=>"40X40", :crop =>:fill%>
          <% else %>
          <%= image_tag "women_small.jpeg", :size=>"40X40", :crop =>:fit%>
          <% end %>           
       <%end %>
    <%= link_to feed_item.user.name+":", feed_item.user %><br/>
  <% else%>
    <span class="content">
  <% end %>
    <span class="module_code">
      #<%= link_to "#{NusModule.find_by(id: feed_item.module_id).code}" , NusModule.find_by(id: feed_item.module_id) %>#

      <%= link_to feed_item.title, feed_item %>
    </span><br/>
    <span class="deadline">
      Deadline:
      <%= feed_item.deadline %>
    </span><br/>
    <span class="gift">
      Gift:
      <%= feed_item.gift %>
    </span><br/>
      <!--<%= feed_item.is_anonymous %>-->
  <% if current_user?(feed_item.user) %>
  <span id="delete">
  <%= link_to "delete" , feed_item, method: :delete,
                                    title: feed_item.content%>
  </span>                                 
</span>
</span>
<% end %>
