<li id="<%= feed_item.id %>">
  <div class="help">
    <div class="bookmark">
    <% case feed_item.status %>
    <% when 0 %>
      <%= image_tag "bookmark-green.png" , :size=> "15x15"%>
    <% when 1 %>
      <%= image_tag "bookmark-blue.png" , :size=> "15x15"%>
    <% when 2 %>
      <%= image_tag "bookmark-red.png" , :size=> "15x15"%>
    <% end %>
    </div>
    <div class="helpcontent">
      <% if feed_item.is_anonymous == true %>
        <%= render "users/anonymous_photo",{user:feed_item.user,need_div: true, size:50} %>
      <% else %>
        <%= render "users/user_photo",{user:feed_item.user,need_div: true, size:50} %>
      <% end %>
      <div class="help-feeds">
        <div class="record" id="comment-record">
          <div class='countNumber'>
            <%= link_to feed_item.comments.count,feed_item,{:style=>'color:white'} %>
          </div>
          <strong id="comment-strong">Comments</strong>
        </div>
        <div class="record">
          <div class='countNumber'>
            <%= link_to feed_item.help_recs.count,feed_item,{:style=>'color:#870a0a'} %>
          </div>
          <strong id="helper-strong">Helpers</strong>
        </div>
        <div class="record">
          <div class='countNumber'>
            <%= link_to feed_item.click_count,feed_item,{:style=>'color:#dadbd8'} %>
          </div>
          <strong id="click-strong">Clicks</strong>
        </div>

          <span class='itemTitle click_count' data-id=<%=feed_item.id%> >
            <%= link_to feed_item.title, feed_item %>
          </span>
          <div class='sep8'></div>
          <span class='smallNode gray'>
            <% @module = NusModule.find_by(id: feed_item.module_id) %>
            <%= link_to @module.code,@module, {:style => 'background-color:#CCC'} %>
            <%= " | " %>
            <% if feed_item.is_anonymous == true %>
              <%= link_to 'Anonymous','#',{:style => 'color:gray'} %>
            <% else %>
              <%= link_to feed_item.user.name, feed_item.user, {:style => 'color:gray'} %>
            <% end %>
            <%= " | " %>
            <% case feed_item.status %>
            <% when 0 %>
            <% @status="Ongoing" %>
            <% when 1 %>
            <% @status="Helper Choosed" %>
            <% when 2 %>
            <% @status="Gift Given"%>
          <% else %>
            <% @status="Status Error"%>
          <% end %>
          <%= link_to @status, feed_item, {:style => 'color: gray'} %>
          <%= " | " %>
          <span class='mytimestamp'>
            <%= time_ago_in_words(feed_item.created_at) +" ago"%>
          </span>
          <div class="gift">
            <i class='icon-gift'></i>
            <%= feed_item.gift %>
                      |
          <% if feed_item.is_online %>
          Online Help
          <% else %>
          Offline Help
          <% end %>
          </div>
          <div>
            <% if current_user.admin? %>
                <%= link_to "delete", feed_item, method: :delete,
                                    data: { confirm: "You sure?" } %>
            <% end %>
          </div>
        </span>
    </div>
  </div>
</div>
</li>
