<li id="<%= feed_item.id %>">
  <% if feed_item.is_anonymous %>
    <%= link_to gravatar_for() , "#" %>
  <% else %>
    <%= link_to gravatar_for(feed_item.user, {:size => 60}), feed_item.user %>
  <% end %>
  <span class="timestamp">
    <%= time_ago_in_words(feed_item.created_at) %>
    ago.
  </span>
  <span class="content">
    <span class="module_code">
      #<%= link_to feed_item.module_code, NusModule.find_by(code: feed_item.module_code) %>#
      <%= link_to feed_item.title, feed_item %>
    </span><br/>
    <span class="deadline">
      Deadline:
      <%= feed_item.deadline %>
    </span>
    <span class="gift">
      Gift:
      <%= feed_item.gift %>
    </span></br>
  <span class="user">
    <%= link_to feed_item.user.name+":", feed_item.user %>
  </span>
  <%= feed_item.content %>
</span>
<% if current_user?(feed_item.user) %>
  <%= link_to "delete", feed_item, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: feed_item.content %>
<% end %>
