<div class="post-task">
  <h4>
    New Help:
  </h4>
<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field input-xlarge">
    <h6>Title:</h6>
    <%= f.text_field :title, placeholder: "Less than 25 words" %>
    <h6>Task Description:</h6>
    <%= f.text_area :content, placeholder: "Describe your task in details to make people help you in a better way..." %>
    <%= f.hidden_field :is_anonymous, :value => false %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <div>
      <div class="post-task-cell">
      <h6>Deadline:</h6>
      <%= f.text_field :deadline %>
      </div>
      <div class="post-task-cell">
      <h6>Module Code:</h6>
      <%= f.text_field :module_code, data: {autocomplete_source: module_list_url} %>
      <%= f.hidden_field :module_id %>
      </div>
    </div>
    <div>
      <h6>Thank-you Gift:</h6>
      <%= f.text_field :gift, placeholder: "Gift to the helper" %>
    </div>
    <div class="field">
        <%= f.radio_button :is_online, true , :checked => true %> Online
        <%= f.radio_button :is_online, false %> Offline
    </div>
    <div>
      <h6>
      <%= f.check_box :is_anonymous %> Anonymous
      </h6> 
    </div>
  </div>
  <%= f.submit "Post Help", class: "btn btn-default btn-primary", id: "post_submit" %>
<% end %>
</div>
