<% user_render = @user || current_user %>
<div class="stats">
  <span>
  <a href="<%= following_user_path(user_render) %>">
    <strong id="following" class="stat">
      <%= user_render.followed_users.count %>
    </strong>
    following
  </a>
  </span>
  <span>
  <a href="<%= followers_user_path(user_render) %>">
    <strong id="followers" class="stat">
      <%= user_render.followers.count %>
    </strong>
    followers
  </a>
  </span>
  <span>
    <%= pluralize(user_render.microposts.count, "micropost") %>
  </span>
</div>
