<% if micropost.help_recs.any? %>
  <% micropost.help_recs.each do |h| %>
    <%= User.find_by(:id => h.helper_id ).name %>
    :
    <%= h.helper_comment %> 
    <a href="#test_modal" data-toggle="modal" data-id=<%= h.id%> title="add this item" class="open_add_thanks">Thanks</a> 
    <%= h.owner_comment %> 
    </br>
  <% end %>
<% else %>
  These is no guys helping you
<% end %>

<div class="modal fade" id="test_modal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3>Thanks</h3>
  </div>
  <div class="modal-body">
    <%= form_tag update_helpRec_url do %>
      <%= hidden_field_tag :rec_id %>
      <%= label_tag :owner_comment %>
      <%= text_field_tag :owner_comment %>
        <%= submit_tag "Thanks" ,class: "btn btn-small btn-primary" %>
    <% end %>
  </div>
</div>