<% if micropost.is_online == true %>
	<div>
		<%= form_for (micropost.help_recs.build(post_id: micropost.id, helper_id: current_user.id, online: false) ) do |f|  %>
		  <%= f.hidden_field :post_id %>
		  <%= f.hidden_field :helper_id %>
		  <%= f.label :helper_comment %>
		  <%= f.text_area :helper_comment, placeholder:"Type your idea ..." %>

		  <div class= "like_button">
		    <%= f.submit "help" ,class: "btn btn-small btn-primary" %>
		  </div>
		<% end %>
	</div>
<% else %>
	<div>
		<%= form_for (micropost.help_recs.build(post_id: micropost.id, helper_id: current_user.id, online: true) ) do |f|  %>
		  <%= f.hidden_field :post_id %>
		  <%= f.hidden_field :helper_id %>
		  <%= f.hidden_field :online %>
		  <%= f.label :helper_comment %>
		  <%= f.text_field :helper_comment %>
		  <%= f.label :contact_info %>
		  <%= f.text_field :contact_info %>
		  <div class= "like_button">
		    <%= f.submit "help" ,class: "btn btn-small btn-primary" %>
		  </div>
		<% end %>
	</div>
<% end %>

