<%= form_for (micropost.help_recs.build(post_id: micropost.id, helper_id: current_user.id) ) do |f|  %>
  <%= f.hidden_field :post_id %>
  <%= f.hidden_field :helper_id %>
  <%= f.label :helper_comment %>
  <%= f.text_field :helper_comment %>

  <div class= "like_button">
    <%= f.submit "help" ,class: "btn btn-small btn-primary" %>
  </div>
<% end %>