<div class="help">
  <div class="helpcontent">
    <%= render "users/user_photo",{user:micropost.user,need_div: true, size:50} %>
    <div class="user-post">
      <div class="record" id="comment-record">
        <div class='countNumber'>
          <%= link_to micropost.comments.count,micropost,{:style=>'color:white'} %>
        </div>
        <strong id="comment-strong">Comments</strong>
      </div>
      <div class="record">
        <div class='countNumber'>
          <%= link_to micropost.help_recs.count,micropost,{:style=>'color:#870a0a'} %>
        </div>
        <strong id="helper-strong">Helpers</strong>
      </div>
      <div class="record">
        <div class='countNumber'>
          <%= link_to micropost.click_count,micropost,{:style=>'color:#dadbd8'} %>
        </div>
        <strong id="click-strong">Clicks</strong>
      </div>
      <td>
        <span class='itemTitle click_count' data-id=<%=micropost.id%> data-uid=<%=micropost.user_id%> >
          <%= link_to micropost.title, micropost %>
        </span>
        <div class='sep8'></div>
        <span class='smallNode gray'>
          <% @module = NusModule.find_by(id: micropost.module_id) %>
          <%= link_to @module.code,@module, {:style => 'background-color:#CCC'} %>
          <%= " | " %>
          <%= link_to micropost.user.name, micropost, {:style => 'color:gray'} %>
          <%= " | " %>
          <% case micropost.status %>
          <% when 0 %>
          <% @status="Ongoing" %>
          <% when 1 %>
          <% @status="Helper Choosed" %>
          <% when 2 %>
          <% @status="Gift Given"%>
          <% else %>
            <% @status="Status Error"%>
          <% end %>
          <%= link_to @status, micropost, {:style => 'color: gray'} %>
          <%= " | " %>
          <span class='mytimestamp'>
            <%= time_ago_in_words(micropost.created_at) +" ago"%>
          </span>
        </span>
      </td>
    </div>
  </div>
</div>