<li>
  <span class="timestamp">
    <%= time_ago_in_words(micropost.created_at) %>
    ago
  </span>
  <span class="content"><%= micropost.content %>
    <!--Provide the like button option -->
    <div id='like_form'>
      <% unless micropost.like?(current_user) %>
        <% #if the micropost is not liked, otherwise we don't show it %>
        <%= render 'microposts/like', :micropost => micropost %>
      <% else %>
        <%= render 'microposts/unlike', :micropost => micropost %>
      <% end %>
    </div>
  </br>
</span>
<!--show the comments -->
<%= render 'comments/comment', :micropost => micropost %>
<!-- Add new comment -->
<%= render 'comments/comment_form', :micropost => micropost %>
<% if current_user?(micropost.user) %>
  <%= link_to "delete", micropost, method: :delete,
                                    data: { confirm: "You sure?" },
                                     title: micropost.content %>
<% end %>
</li>