<ul id="tabs" class="nav nav-tabs">
  <li class="active"><a href="#comment" data-toggle="tab">Comments</a></li>
  <% if @micropost.status == 2 %>
    <li class="disabled"><a href="#help" data-toggle="tab">Helps</a></li>
  <% else %>
    <li><a href="#help" data-toggle="tab">Helps</a></li>
  <% end %>
</ul>
<div id="my-tab-content" class="tab-content">
  <div class="tab-pane active" id="comment">
    <!--show the comments -->
    <section>
      <%= render 'comments/comment', :micropost => @micropost, :comment => @comments %>
    </section>
    <div class="newcomment">
      <div class="offlinehelphints">
        <h5>Add a new comment</h5>
        <p>You could comment an offline help as many as you want</p>
        <!-- Add new comment -->
        <%= render 'comments/comment_form', :micropost => @micropost %>
      </div>
    </div>
  </div>
  <div class="tab-pane" id="help">
    <div id='help_form'>
      <% if @micropost.user_id == current_user.id %>
        <%= render 'microposts/helpself', :micropost => @micropost %>
      <% elsif @micropost.help?(current_user) %>
        <% #if the micropost is not liked, otherwise we don't show it %>
        <%= render 'microposts/unhelp', :micropost => @micropost %>
      <% else %>
        <%= render 'microposts/help', :micropost => @micropost %>
      <% end %>
    </div>
  </div>
</div>
