<% provide(:title, @micropost.title) %>
<div class="row">
  <div class="span8">
    <div id="post_info" class="post_info">
      <p><i class="icon-tasks"></i><span  class="post-title"><%= @micropost.title %></span></p>
      <p><i class="icon-comment"></i><textarea readonly class="post-content"><%= @micropost.content %></textarea></p>
      <p><i class="icon-heart"></i><span class="post-gift"><%= @micropost.gift %></span></p>
      <p><i class="icon-time"></i><span class="post-time"><%= @micropost.deadline %></span><span class="time-remain">Remains</span><span><%= @elapsed_seconds %> <%=@elapsed_unit%> </span></p>
      <p><i class="icon-question-sign"><span style="color:blue" class="post-status"></i><%= @micropost.status %></span></p>
    </div>
    <div id='help_form' class="help_from">
      <div class="btn-group" style="float:right">
        <button class="btn" style="background:blue; color:white">Help</button>
        <button class="btn">Like</button>
      </div>
    </div> 
    <div id='like_form'>
      <% unless @micropost.like?(current_user) %>
        <% #if the micropost is not liked, otherwise we don't show it %>
        <%= render 'microposts/like', :micropost => @micropost %>
      <% else %>
        <%= render 'microposts/unlike', :micropost => @micropost %>
      <% end %>
    </div>

    <!--show the comments -->
    <section>
      <%= render 'comments/comment', :micropost => @micropost %>
    </section>
    <!-- Add new comment -->
    <%= render 'comments/comment_form', :micropost => @micropost %>
  </div>
  <aside class="span4">
    <div id="user" class="user">
      <div class="user-info">
        <p>
          <% if @user.photo.to_s == "/uploads/user/photo/1/0".to_s %>
            <% if @user.gender == 0 %>
              <%= image_tag "man.jpeg" , :size => "150x150", :crop => :fill%>
            <% else %>
              <%= image_tag "women.jpeg" , :size => "150x150", :crop => :fill%>
            <% end %> 
          <% else %>
            <%= image_tag @user.photo, :size => "150x150", :crop => :fill%>
          <% end %>
        </p>
        <p><%= @user.name %></p>
        <p><%= @user.email %><p>
      </div>
    </div>
    <div id="helpers" class="helpers">
      

    </div>
  </aside>
</div>
