<% provide(:title, @micropost.title) %>
<% content_for :content do %>
  <div id="post_header" class="post_header">
    <div id="user" class="user">
      <% if @micropost.is_anonymous == true %>
        <%= render "users/anonymous_photo", {user:@user,size:80,need_div:false} %>
      <% else %>
        <%= render "users/user_photo", {user:@user,size:80,need_div:false} %>
      <% end %>
    </div>
    <div class="post-title">
      <span><%= @micropost.title %></span>
    </div>
    <div class="post-info">
      By
      <% if @micropost.is_anonymous %>
        Anonymous
      <% else %>
        <%= link_to @user.name,@user %>
      <% end %>
      |
      <span class='mytimestamp'>
        <%= time_ago_in_words(@micropost.created_at) +" ago"%>
      </span>
      |
      <%= link_to @micropost.click_count,@micropost,{:style=>'color:gray'} %>
      Clicks
    </div>
  </div>
  <hr></hr>
  <div class="post-content">
    <%= @micropost.content %>
  </div>
  <div class="post-footer">
    <div id='like_form'>
      <% unless @micropost.like?(current_user) %>
        <% #if the micropost is not liked, otherwise we don't show it %>
        <%= render 'microposts/like', :micropost => @micropost %>
      <% else %>
        <%= render 'microposts/unlike', :micropost => @micropost %>
      <% end %>
    </div>
  </div>
<% end %>
<% content_for :comments do %>
  <% if @micropost.is_online == true %>
    <%= render 'microposts/online' %>
  <% else %>
    <%= render 'microposts/offline' %>
  <% end %>
<% end %>
<% content_for :firstsidebar do %>
  <div class="post-right-bar">
    <div class="post-time">
      <i class="icon-time"></i>
      Deadline:
      <span class="post-time">
        <strong><%=  @micropost.deadline  %></strong>
        <br><i class="icon-time"></i>
          Remains:
          <strong><%= @elapsed_seconds %>
            <%= @elapsed_unit%></strong>
        </br>
      </span>
    </div>
    <div class="post-row">
      <div class="post-gift">
        <i class="icon-heart"></i>
        Rewards:
        <span class="post-gift">
          <strong><%= @micropost.gift %></strong></span>
      </div>
      <div class="status">
        <i class="icon-question-sign"></i>
        Help Status:
        <strong>
          <% if @micropost.status == 0 %>
            <span class="post-status">Ongoing</span>
          <% elsif @micropost.status == 1 %>
            <span class="post-status">Processing</span>
          <% elsif @micropost.status == 2 %>
            <span class="post-status">Ending</span>
          <% end %>
        </strong>
      </div>
      <div class="post-module">
        <i class="icon-book"></i>
        Related Module:
        <strong>
          <%= NusModule.find_by(id:@micropost.module_id).code  %>
        </strong>
      </div>
    </div>
  </div>
<%end%>
<% content_for :secondsidebar do %>
  <div class="post-right-bar">
    <div id="helpers_words", class="center">All Helpers</div>
    <div class="helpers">
      <% if @micropost.helpers.any? %>
        <% @count=1 %>
        <% @micropost.helpers.each do |h| %>
            <div id="helper<%=@count%>">
            </div>
            <strong>#<%= @count %></strong>
            <div class="helper" >
              <div class="helper_photo">
              <%= render "users/user_photo", {user:h,size:50,need_div:false} %>
              </div>
              <%= link_to h.name, h%>
            </div>
            <% @count+=1 %>
        <% end %>
      <% else %>
        </br>
        <div class="center"><h4>Looking for Helpers</h4></div>
      <% end %>
    </div>
  </div>
<% end %>
