<div class="notification">
  <div class="notificationTitle">
    <h5>Notifications</h5>
    <strong><%= link_to "See All",activities_path, {:style => 'color: gray'} %>
    </strong>
  </div>
  <div id="notificationBodyList" >
    <% count = 0 %>
    <% @activities.each do |activity| %>
      <% if activity.status && activity.owner && (activity.trackable_type=="Help_Rec" || activity.recipient==current_user) %>
        <div class="activity click_notification" id="<%= activity.id %>" data-id= <%= activity.id %> >
          <div class = "user_image">
            <%= link_to gravatar_for(activity.owner, {:size =>40 }), activity.owner %>
          </div>
          <div class="activity_body">
            <strong><%= link_to activity.owner.name, activity.owner, {:style=>"color:black"} %></strong>
            <%= render_activity activity %>
            <span class="timestamp">
              <%= time_ago_in_words(activity.created_at ) %>
            </span>
          </div>
        </div>
      <% else %>
        <% count= count +1 %>
      <% end %>
      <% if count == @activities.count %>
      <div class="noactivity">
        <strong>WoW! All the notifications have been read through.</strong>
        <hr>Have a look on the 
        <p><%= link_to "Past Notifications", activities_path %></p>
      </div>
      <% end %>
    <% end %>

  </div>
</div>
