<div class="notification">
  <div class="notificationTitle">
    <h5>Notifications</h5>
    <strong><%= link_to "See All",activities_path, {:style => 'color: gray'} %>
    </strong>
  </div>
  <div id="notificationBodyList" >
    <% count = 0 %>
    <% if @activities.empty? %>
      <div class="noactivity">
        <strong>You don't have any notifications yet, try to help someone :)</strong>
        <hr>Have a look on the 
        <p><%= link_to "Popular Topics", :root %></p>
      </div>
    <% else %>
    <% @activities.each do |activity| %>
      <% if activity.trackable && activity.status && activity.owner && (activity.trackable_type=="Help_Rec" || activity.recipient==current_user) %>
        <div class="activity click_notification" id="<%= activity.id %>" data-id= <%= activity.id %> >
          <div class = "user_image">
            <%= render "users/user_photo",{user:activity.owner,size:40,need_div:false} %>
          </div>
          <div class="timestamp", id="activitytimestamp">
              <%= time_ago_in_words(activity.created_at ) %>
          </div>
          <div class="activity_body">
            <% if activity.trackable.respond_to?(:helper) && activity.trackable.helper == current_user %>
            Congradulations! 
            <% end %> 
            <strong><%= link_to activity.owner.name, activity.owner, {:style=>"color:black"} %></strong>
            <%= render_activity activity %>
          </div>
        </div>
      <% else %>
        <% count= count +1 %>
      <% end %>
      <% if count == @activities.count %>
      <div class="noactivity">
        <strong>WoW! All the notifications have been read through.</strong>
        <hr>Have a look on the 
        <p><%= link_to "Past Notifications", activities_path %></p>
      </div>
      <% end %>
    <% end %>
    <% end %>
  </div>
</div>
