<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class=row-fluid>
      <div class="span11 offset1 container">
        
        <%= link_to "NUS HELP", root_path, id: "logo" %>
        <% if signed_in? %>
          <%= form_tag ('/search'), :method => :get, :class=> "navbar-search" do %>
            <%= text_field_tag :search,params[:search], :class=>"input-large search-query", :placeholder => "Search" %>
            <% submit_tag %>
          <% end %>
        <% end %>
        <ul class="nav">
          <li><%= link_to "Home", root_path %></li>
          <% if signed_in? %>
            <li><%= link_to "Modules", nus_modules_path %></li>
            <li><%= link_to "Users", users_path %></li>
            <li class="dropdown fat-menu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to "About Me", current_user %></li>
                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
              </ul>
            </li>
            <%= render 'shared/notifications' %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</header>
