<% @user ||= current_user %>
<div class="user-info-pad withborder">
  <section >
    <%= render "users/user_photo", {user:current_user,size:50,need_div:true} %>
    <div class="user-side">
      <%= link_to current_user.name, current_user %>
      <div class="light">
        view my profile page
      </div>
    </div>
  </section>
</div>
<div class="user-info-following-container">
  <div class="row-fluid">
    <div class="span4" id="span4first">
      <p class="userinfolabel">
        FOLLOWING
      </p>
    </div>
    <div class="span4">
      <a href="<%= following_user_path(@user) %>">
        <h5><%= @user.followed_users.count %></h5>
        <strong>
          USERS
        </strong>
      </a>
    </div>
    <div class="span4">
      <a href="#<%# %>">
        <h5><%= @user.mods.count %></h5>
        <strong>
          MODULES
        </strong>
      </a>
    </div>
  </div>
</div>

<div class="user-info-following-container">
  <div class="row-fluid">
    <div class="span4" id="span4first">
      <p class="userinfolabel">
        GIFT
      </p>
    </div>
    <div class="span4">
      <a href="<%= gift_sent_path %>">
        <h5><%= current_user.microposts.select{|x| x.is_happy == true and x.status == 2}.count %></h5>
        <strong>
          SEND OUT
        </strong>
      </a>
    </div>
    <div class="span4">
      <a href="<%= gift_recieved_path %>">
        <h5><%= @recieve_gift = Micropost.all.select{|x| x.is_happy == true and x.helper_id == current_user.id and x.status == 2}.count %></h5>
        <strong>
          RECEIVED
        </strong>
      </a>
    </div>
  </div>
</div>
<section>
<div class="sep20 user-info-bottom-pad">

</div>
</section>
