<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag  "application", media: "all" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <%= render 'layouts/messages' %>
    <div class="row-fluid">
      <div class ="span7 offset1">
        <div class="content">
          <%= yield :content%>
        </div>     
        <div class="commentsarea">
          <%= yield :comments %>
        </div>
        <div class="commentsarea" id="newcomments">
          <%= yield :newcomments %>
        </div>
      </div>
      <div class ="span3">
        <div class="rightsidebar" id="firstsidebar">
          <%= yield :firstsidebar%>
        </div>
        <div class="rightsidebar" id="secondsidebar">
          <%= yield :secondsidebar %>
        </div>
        <div class="rightsidebar" id="thirdsidebar">
          <%= yield :thirdsidebar %>
        </div>
      </div>
      <%= yield :bumpingsidebar %>
      <div class ="span7 offset1">
        <%= render 'layouts/footer' %>
      </div>
      <%= debug(params) if Rails.env.development? %>
    </div>
    <%= javascript_include_tag "application" %>
  </div>
</div>
